@use '../../../../styles/global/mixins' as mix;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;

  &__content {
    background-color: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 10px 30px #0000004d;
    width: 100%;
    max-width: 400px;
    //  margin: 20px;
    animation: slideUp 0.3s ease-in-out;
    //  overflow: hidden;
    padding: 64px 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    @include mix.vp-375 {
      padding: 32px 20px;
    }
  }

  &__logo {
    width: 156px;
    height: 35px;
    margin-bottom: 40px;

    @include mix.vp-375 {
      width: 132px;
      height: 29px;
      margin-bottom: 32px;
    }
  }

  &__title {
    margin: 0 0 24px 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  &__text {
    margin: 0 0 24px 0;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
  }

  &__btn {
    cursor: pointer;
    background-color: #67a5eb;
    color: var(--color-white);
    font-size: 18px;
    line-height: 24px;
    border: none;
    border-radius: 28px;
    padding: 16px;
    width: 100%;
    font-weight: 700;

    @include mix.vp-375 {
      width: 295px;
    }
  }

  &__btn-black {
    cursor: pointer;
    color: var(--color-black-russian);
    border: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-color: transparent;
  }

  &__close {
    background-color: var(--color-white);
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 24px;
    border: none;
    top: 1px;
    right: -62px;
    cursor: pointer;
    position: absolute;

    @include mix.vp-375 {
      top: 1px;
      right: -1px;
    }
  }

  &__svg {
    width: 24px;
    height: 24px;
  }
}