@use '../../styles/global/mixins' as mix;

.account {
    &__title {
        margin: 0 0 64px 0;
        font-size: 48px;
        line-height: 56px;
        color: var(--color-white);

        @include mix.vp-375 {
            margin: 0 0 40px 0;
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 64px;
        margin-bottom: 64px;

        @include mix.vp-375 {
            gap: 24px;
            margin-bottom: 48px;
        }
    }

    &__item {
        display: flex;
        gap: 7px;
        align-items: center;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #dc5dfc;
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    &__link {
        color: var(--color-white);
        font-size: 24px;
        line-height: 32px;
        text-decoration: none;
    }

    &__link-mobile {
        display: none;
    }

    &__icon {
        width: 20px;
        height: 20px;
    }
}