@use '../../../../styles/global/mixins' as mix;

.hero-poster {
    &__image {
        width: 680px;
        height: 552px;
        border-radius: 16px;

        @include mix.vp-375 {
            width: 338px;
            height: 234px;
            margin-bottom: 24px;
        }
    }

    &--xs{
        .hero-poster__image {
            width: 40px;
            height: 52px;
            border-radius: 0;
            margin-bottom: 0;
        }
    }

    &--xs.hero-poster--mobile {
        .hero-poster__image {
            width: 158px;
            height: 206px;
            border-radius: 0;
            margin-bottom: 0;
        }
    }

}