/* Подключение Play Regular */
@font-face {
    font-family: "Play";
    src: url("../../fonts/Play-Regular.woff2") format("woff2"),
        url("../../fonts/Play-Regular.woff") format("woff"),
        url("../../fonts/Play-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Подключение Play Bold */
@font-face {
    font-family: "Play";
    src: url("../../fonts/Play-Bold.woff2") format("woff2"),
        url("../../fonts/Play-Bold.woff") format("woff"),
        url("../../fonts/Play-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}