$ff-main: "Play", "Arial", sans-serif;
$color-white: #ffffff;
$color-black-russian: #1E222E;

//linear-gradient-background
$bg-start: #000000;
$bg-end: #272424b3;
$accent-start: #2988f5e6;
$accent-end: #a393f5e6;



/* CSS Custom Properties */
:root {
  --ff-main: "Play", "Arial", sans-serif;
  --color-white: #FFFFFF;
  --color-black-russian: #1E222E;
  --color-bg: #393B3C;
  --color-light-gray: #ffffff80;
}


