.custom-input {
    position: relative;
    // width: 100%;

    &__field {
        border-radius: 8px;
        border: none;
        width: 100%;
        height: 45px;
        padding: 12px 12px 17px 52px;
        font-size: 19px;
        line-height: 24px;
        outline: none;
        position: relative;
        background-color: var(--color-bg);
        color: var(--color-light-gray);

        // Модификаторы для поля
        // &--error {
        //     border: 1px solid var(--color-error);
        // }

        // &--disabled {
        //     opacity: 0.5;
        //     cursor: not-allowed;
        // }
    }

    &__svg {
        width: 20px;
        height: 20px;

        &--erase {
            width: 12px;
            height: 12px;
        }
    }



    &__btn {
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        position: absolute;
        left: 18px;
        top: 11px;

         &--erase {
        left: auto;
        right: 18px;
    }
    }

    // &__btn-erase {
    //     padding: 0;
    //     border: 0;
    //     background-color: transparent;
    //     cursor: pointer;
    //     position: absolute;
    //     right: 18px;
    //     top: 11px;
    // }
}