@use '../../styles/global/mixins' as mix;

.footer {

    &__wrapper {
        padding: 40px;

        @include mix.vp-375 {
            padding: 24px 0 36px 20px;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: flex-end;

        @include mix.vp-375 {
            justify-content: flex-start;
        }
    }

    &__svg {
        width: 36px;
        height: 36px;

        @include mix.vp-375 {
            width: 24px;
            height: 24px;
        }
    }

    &__link {
        cursor: pointer;
        display: block;
    }
}