@use '../../../styles/global/mixins' as mix;

.top-movies {
    margin-bottom: 120px;

    &__title {
        margin: 0 0 64px 0;
        color: var(--color-white);
        font-size: 40px;
        line-height: 48px;

        @include mix.vp-375 {
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 40px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 40px;
        list-style: none;
        margin: 0;
        padding: 0;

        @include mix.vp-375 {
            gap: 40px;
            flex-wrap: nowrap;
            overflow-x: auto;
            scroll-snap-type: x proximity;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    &__item {
        @include mix.vp-375 {
            flex: 0 0 224px;
            scroll-snap-align: start;
        }
    }

    &__item-card {
        position: relative;
        box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.33);
        border-radius: 16px;

        @include mix.vp-375 {
            box-shadow: 0px 0px 13px rgba(255, 255, 255, 0.33);
        }
    }

    &__item-image {
        width: 224px;
        height: 336px;
        border-radius: 16px;
    }

    &__rating-badge {
        width: 62px;
        height: 42px;
        padding: 8px;
        background-color: var(--color-white);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        top: -12px;
        left: -13px;
        position: absolute;
        align-items: center;
    }

    &__rating-value {
        color: #6a5dc2;
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
    }
}