@use '../../styles/global/mixins' as mix;

.genre-films {
    margin-bottom: 64px;

    @include mix.vp-375 {
        margin-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        gap: 16px;
        align-items: center;
        margin-bottom: 64px;

        @include mix.vp-375 {
            margin-bottom: 40px;
        }
    }

    &__svg {
        width: 13px;
        height: 22px;

        @include mix.vp-375 {
            width: 10px;
            height: 16px;
        }
    }

    &__title {
        margin: 0;
        color: var(--color-white);
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;

        @include mix.vp-375 {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__list {
        list-style: none;
        margin: 0 0 64px 0;
        padding: 0;
        display: flex;
        gap: 64px 40px;
        flex-direction: row;
        flex-wrap: wrap;

        @include mix.vp-375 {
            gap: 24px;
        }
    }

    &__image {
        width: 224px;
        height: 336px;
        border-radius: 16px;
        box-shadow: 0px 0px 80px #ffffff54;

        @include mix.vp-375 {
            width: 335px;
            height: 502px;
        }
    }

    &__btn {
        cursor: pointer;
        background-color: #67a5eb;
        color: var(--color-white);
        font-size: 18px;
        line-height: 24px;
        border: none;
        border-radius: 28px;
        padding: 16px;
        width: 218px;
        font-weight: 700;
        display: flex;
        margin: 0 auto;
        justify-content: center;

        @include mix.vp-375 {
            width: 335px;
            background-color: #6a5dc2;
        }
    }
}