@use '../../../styles/global/mixins' as mix;

.genres-card {
    box-shadow: 0px 0px 80px rgba(255, 255, 255, 0.33);
    border-radius: 24px;

    &__image {
        width: 290px;
        height: 220px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;

        @include mix.vp-375 {
            width: 335px;
            height: 220px;
        }
    }

    &__bottom {
        background-color: black;
        padding: 22px 0 30px 0;
        display: flex;
        justify-content: center;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &__name {
        font-size: 24px;
        line-height: 32px;
        color: var(--color-white);
    }
}