@use '../../../styles/global/mixins' as mix;

.genres {

    &__title {
        margin: 0 0 64px 0;
        color: var(--color-white);
        font-size: 48px;
        line-height: 56px;
        font-weight: 700;

        @include mix.vp-375 {
            font-size: 24px;
            line-height: 32px;
            margin: 0 0 40px 0;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 64px 40px;
        flex-direction: row;
        flex-wrap: wrap;

        @include mix.vp-375 {
            gap: 24px;
        }
    }

}